:root {
  --blue: #4898D3;
  --white: #ffffff;
  --gray: #707070;
  --gray-dark: #343a40;
}


/*=== font css start === */
@font-face {
  font-family: muli;
  src: url(../fonts/Muli.ttf);
}
@font-face {
  font-family: muli-bold;
  src: url(../fonts/Muli-Bold.ttf);
}
/*===// end of font css === */


/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

/* config start */
body {
  font-family: muli;
  color: var(--gray);
}

section {
  padding: 60px 0;
}
/* config end */

/*===// end of base css === */


/*=== utility css start === */
.border-top-right-radius-0 {
  border-top-right-radius: 0 !important;
}

.border-top-left-radius-0 {
  border-top-left-radius: 0 !important;
}

.bg-blue {
  background-color: var(--blue);
}

.rounded-top-left {
  border-top-left-radius: 45px;
}

.rounded-top-right {
  border-top-right-radius: 45px;
}
/*===// end of utility css === */


/*=== button css start === */
.btn-blue {
  font-family: muli-bold;
  font-size: 16px;
  color: var(--white);
  background: var(--blue);
  padding: 0.75rem 1.5rem;
}
/*===// end of button css === */


/*=== navbar css start === */
.navbar .phone-call {
  font-family: muli-bold;
  font-size: 28px;
  color: var(--blue);
}
/*===// end of navbar css === */


/*=== banner css start === */
.banner {
  background: url(../images/banner/banner-bg.jpg) no-repeat center center/cover;
  text-align: center;
  min-height: 400px;
  padding: 40px 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 70px;
}

.banner p {
  font-size: 33px;
}
/*===// end of banner css === */



/*=== article css start === */
.article .article-title {
  font-family: muli-bold;
  font-size: 28px;
  line-height: 40px;
  color: var(--blue);
}

.article .article-description {
  font-size: 20px;
  line-height: 30px;
}
/*===// end of article css === */



/*=== contact-form css start === */
.contact-form .form-control::placeholder{
  font-size: 16px;
  color: var(--gray);
}
.contact-form .form-control{
  font-size: 16px;
  color: var(--gray-dark);
  border-radius: 0;
  padding: .75rem 1rem;
}

.contact-form .terms-conditions-text{
  color: var(--gray);
}
.contact-form .terms-conditions-text a{
  color: var(--blue);
}
/*===// end of contact-form css === */


/*=== footer css start === */
.footer{
  background: #707173;
}

.footer .copyright {
  font-family: muli-bold;
  color: var(--white);
  padding: 20px 0;
}
/*===// end of footer css === */



/*===###################### responsive css start ######################=== */
@media(max-width: 767px){
  .navbar .navbar-brand{
    max-width: 150px;
  }
  
  .navbar .phone-call {
    font-size: 22px;
  }
  
  .banner h1 {
    font-size: 50px;
  }
  
  .banner p {
    font-size: 26px;
  }
}
/*===######################// end of responsive css ######################=== */